In [1]:
import sys
import pandas as pd


sys.path.append('/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation')
from importlib import reload  # Python 3.4+

from NonWoE_preparation import preprocess_NoWoE as pN

#reload(pN)

/Users/mengyanzhu/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
from WoE_preparation import preprocess_WoE as pW

(CVXPY) Nov 30 04:16:00 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.11.4210). Expected < 9.10.0. Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Nov 30 04:16:00 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.11.4210). Expected < 9.10.0. Please open a feature request on cvxpy to enable support for this version.')

In [28]:
data = pN(["2023"], True)

print('hello')

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q1_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/NonWoE_preparation.py:638: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q2_stat.csv

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [18]:
data.head(5)

,ORIG_RATE,ORIG_AMOUNT,ORIG_TERM,OLTV,NUM_BO,DTI,CSCORE_B,NUM_UNIT,MI_PCT,FTHB_FLAG,PUR_Cash_out,PUR_Refinance,PUR_Purchase,OCC_Principal,OCC_Second,OCC_Investor,DLQ_FLAG
0,-0.142918,-0.653849,0.249497,-0.781997,-0.882957,-0.131782,0.920575,-0.112726,-0.737676,0,0,0,1,0,0,1,0
1,-0.305099,-0.904407,0.249497,-1.296984,-0.882957,0.411338,-0.299025,-0.112726,-0.737676,0,1,0,0,1,0,0,0
2,1.370780,-0.653849,0.249497,-0.009516,0.972183,-1.218022,0.968402,-0.112726,-0.737676,0,0,0,1,0,0,1,0
3,0.194961,0.228800,0.249497,0.505472,-0.882957,1.171706,0.705351,-0.112726,0.157023,1,0,0,1,1,0,0,0
4,0.532840,0.166160,0.249497,-1.296984,0.972183,-0.023158,-3.336067,-0.112726,-0.737676,0,0,0,1,1,0,0,1

In [3]:
data2 = pN(["2023"], False)

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q1_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/NonWoE_preparation.py:727: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q2_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/NonWoE_preparation.py:727: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q3_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/NonWoE_preparation.py:727: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q4_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/NonWoE_preparation.py:727: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

this dataset is not labelled
Number of rows: 970186
Number of columns: 42
The total number of NA is  0
No Duplicated Loan ID

In [4]:
data2.head(5)

,ORIG_RATE,ORIG_AMOUNT,ORIG_TERM,OLTV,NUM_BO,DTI,CSCORE_B,NUM_UNIT,MI_PCT,FTHB_FLAG,PUR_Cash_out,PUR_Refinance,PUR_Purchase,OCC_Principal,OCC_Second,OCC_Investor
0,-0.150095,-0.652227,0.251107,-0.765342,-0.885664,-0.130603,0.911719,-0.112177,-0.730036,0,0,0,1,0,0,1
1,-0.312276,-0.902199,0.251107,-1.277513,-0.885664,0.411047,-0.305495,-0.112177,-0.730036,0,1,0,0,1,0,0
2,1.363593,-0.652227,0.251107,0.002914,0.969725,-1.213903,0.959453,-0.112177,-0.730036,0,0,0,1,0,0,1
3,0.187782,0.228357,0.251107,0.515085,-0.885664,1.169357,0.696916,-0.112177,0.167701,1,0,0,1,1,0,0
4,0.525659,0.165864,0.251107,-1.277513,0.969725,-0.022273,-3.336595,-0.112177,-0.730036,0,0,0,1,1,0,0

In [6]:
data3 = pW(['2023'], True)

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q1_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:641: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['F60_DTE'] = pd.to_datetime(table['F60_DTE'])

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q2_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:641: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['F60_DTE'] = pd.to_datetime(table['F60_DTE'])

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q3_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:641: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['F60_DTE'] = pd.to_datetime(table['F60_DTE'])

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q4_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:641: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['F60_DTE'] = pd.to_datetime(table['F60_DTE'])

In [8]:
data3.head(5)

,LOAN_ID,ORIG_RATE,ORIG_AMOUNT,ORIG_TERM,PROP_VALUE,OLTV,NUM_BO,DTI,CSCORE_B,CSCORE_C,...,Ongoing,Current_DLQ,LAST_STAT,COMPLETE_FLAG,NET_LOSS,NET_SEV,ORIG_DTE_YR,ORIG_DTE_MONTH,FRST_DTE_YR,FRST_DTE_MONTH
0,135176712,6.50,206000.0,360,343333.33,60.0,1,36.0,797.0,797.0,...,1,0,C,0.0,0.0,0.0,23,1,23,3
1,135176713,6.38,162000.0,360,324000.00,50.0,1,41.0,746.0,746.0,...,1,0,C,0.0,0.0,0.0,22,12,23,2
2,135176714,7.62,206000.0,360,274666.67,75.0,2,26.0,799.0,806.0,...,1,0,C,0.0,0.0,0.0,22,12,23,2
3,135176715,6.75,361000.0,360,424705.88,85.0,1,48.0,788.0,788.0,...,1,0,C,0.0,0.0,0.0,22,12,23,2
4,135176716,7.00,350000.0,360,700000.00,50.0,2,37.0,619.0,671.0,...,1,0,C,0.0,0.0,0.0,22,12,23,2

In [5]:
data4 = pW(['2023'], False)

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q1_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:691: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q2_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:691: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q3_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:691: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/dataset/2023Q4_stat.csv

/Users/mengyanzhu/Documents/GitHub/msf-capstone-crm/DataPreparation/WoE_preparation.py:691: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  table['FTHB_FLAG'] = table['FTHB_FLAG'].replace({'Y': 1, 'N': 0})

UnboundLocalError: cannot access local variable 'opt_bin_data' where it is not associated with a value